.preview{
    border: 2px black;
    border-radius: 5px;
    align-items: center;
    margin: auto;
}

.preview h2{
    text-align: center;
    color: orangered;
}


.preview p{
    text-align: center;
    color: red;
    font-weight: bold;
    font-size: 20px;
}

.IPLteams{
    border: 2px solid black;
    margin: 5px;
    border-radius: 20px;
    text-align: center;
    color: red;
    background-color: lightgreen;
}  