.nav-bar{
  position: absolute;
  background-color: chartreuse;
  width: 100%;
  top: 0px;
  left: 0px;
  height: 30px;
}
.nav-bar a{
  color: red;
  font-size: 20px;
  text-align: left;
  font-weight: bold;
  padding-right: 20px;
  padding-left: 20px;
  text-decoration: none;
  float:left;
}

.nav-bar a:hover{
  background-color: black;
  color: aliceblue;
}