.nav-bar{
  background-color: chartreuse;
  width: 100%;
  margin-left: 0%;
  margin-right: 0%;
  margin-top: 0%;
  height: 22.5px;
  align-items: center;
}
a{
  color: red;
  font-size: 20px;
  text-align: left;
  font-weight: bold;
  padding-right: 20px;
  padding-left: 20px;
  text-decoration: none;
  float:left;
}

a:hover{
  background-color: bisque;
}